<template>
  <img class="profilePic" src="/profile_pic.webp" alt="Image Title" width="180px" height="180px">
</template>

<style>
.profilePic {
  border: solid 1px lightgray;
  border-radius: 100%;
  padding: 12px;
  width: 180px;
  box-sizing: content-box;
}
</style>
